<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ClassLibrary.Properties.Settings.connectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\BDScaper.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="ClassLibrary.Properties.Settings.connectionTest" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Nico\source\repos\ClassLibrary\BDScaper.mdf;Integrated Security=True;Connect Timeout=30" />
    </connectionStrings>
</configuration>